body {
    margin: 0;
    padding: 0;
}

.left {
    transform: translateX(-10px);
    background: linear-gradient(90deg, rgb(150, 141, 111) 0%, rgb(211, 192, 147) 100%);
}
.right {
    
    background: linear-gradient(90deg, rgb(211, 192, 147) 0%, rgba(227,219,191,1) 100%);
}

.top.left {
    transform: rotateX(90deg) translateX(1px) translateY(3px);
}

.staircase-wrapper {
    margin-left: 500px;
    margin-top: 400px;
    perspective: 6000px;
}

.staircase-container {
    width: 450px;
    max-height: 200px;
    transform: rotateX(-20deg) rotateY(-20deg) translateZ(-850px);
    transform-style: preserve-3d;
}

.top-wrapper {
    display: flex;
    transform-style: preserve-3d;
}

.top {
    width: 226px;
    height: 80px;
    transform: rotateX(90deg) translateY(3px);
}

.front {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(61,61,61,1) 100%);
    width: 450px;
    height: 40px;
    transform: translateX(1px) translateY(-40px) translateZ(40px);
}

.side {
    width: 80px;
    height: 360px;
    background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(74,74,74,1) 100%);
    transform: rotateY(90deg) translateY(-80px) translateZ(410px);
}

.step-wrapper.two {
    transform: translateY(-440px) translateZ(77px);
    transform-style: preserve-3d;
}
.step-wrapper.two > .side {
    height: 320px;
}

.step-wrapper.three {
    transform: translateY(-840px) translateZ(154px);
    transform-style: preserve-3d;
}
.step-wrapper.three > .side {
    height: 280px;
}

.step-wrapper.four {
    transform: translateY(-1200px) translateZ(231px);
    transform-style: preserve-3d;
}
.step-wrapper.four > .side {
    height: 240px;
}

.step-wrapper.five {
    transform: translateY(-1520px) translateZ(308px);
    transform-style: preserve-3d;
}
.step-wrapper.five > .side {
    height: 200px;
}

.step-wrapper.six {
    transform: translateY(-1800px) translateZ(385px);
    transform-style: preserve-3d;
}
.step-wrapper.six > .side {
    height: 160px;
}

.step-wrapper.seven {
    transform: translateY(-2040px) translateZ(462px);
    transform-style: preserve-3d;
}
.step-wrapper.seven > .side {
    height: 120px;
}

.step-wrapper.eight {
    transform: translateY(-2240px) translateZ(539px);
    transform-style: preserve-3d;
}
.step-wrapper.eight > .side {
    height: 80px;
}

.step-wrapper.nine {
    transform: translateY(-2400px) translateZ(617px);
    transform-style: preserve-3d;
}
.step-wrapper.nine > .side {
    height: 40px;
}

.top-wrapper:hover {
    transform: translateY(-5px);
    transform-style: preserve-3d;
    transition: 150ms ease-in-out;
    
}

.screen {
    transform: translateX(-20px) translateY(-100px) translateZ(-200px);
    width: 450px;
    height: 200px;
    background: linear-gradient(180deg, rgba(190,190,190,1) 0%, rgba(87,87,87,1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px rgba(139, 139, 139, 0.288);
    transition: 200ms ease-in-out;

}